* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: darkslategray;
    color: white;
}

#header {
    background-color: #081B31;
    padding: 1.1rem;
    text-align: center;
    transition: 1.1s ease-in;
}

#header:hover {
    color: #081B31;
    background-color: #b19e7b;
    cursor: none;
}

.choices {
    display: flex;
    margin: 3rem auto;
    gap: 2rem;
    justify-content: center;
}

.choice {
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rock {
    background-color: palevioletred;
}

#paper {
    background-color: purple;
}

#scissor {
    background-color: blue;
}

.choice:hover {
    opacity: 0.7;
    cursor: pointer;
}

.scores {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 7rem;
}

#userScore,
#compScore {
    font-size: 3rem;
}

.msg {
    margin-top: 3rem;
}

#msgParagraph {
    font-size: 1.4rem;
    background-color: #081B31;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}